h1 {
    color: orangered;
    font-size: 3em;
}

p {
    color: blue;
}

.header {
    height: 200px;
    background-color: burlywood;
    text-align: center;
}

.menu {
    text-decoration: none;
    color: black;
}